
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myClasseTypeLabel" translate="smartschoolApp.classeType.home.createOrEditLabel">Create or edit a ClasseType</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
            <input type="hidden" class="form-control" id="id" name="id"
                    ng-model="classeType.id" readonly />
        <div class="form-group">
            <label class="control-label" translate="smartschoolApp.classeType.intitule" for="field_intitule">Intitule</label>
            <input type="text" class="form-control" name="intitule" id="field_intitule"
                    ng-model="classeType.intitule"
                    required />
            <div ng-show="editForm.intitule.$invalid">
                <p class="help-block"
                    ng-show="editForm.intitule.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="row">
        <div class="col-sm-6">
            <label translate="smartschoolApp.classeType.typeEnseignement" for="field_typeEnseignement">typeEnseignement</label>
            <select chosen class="form-control" id="field_typeEnseignement" name="typeEnseignement" ng-model="classeType.typeEnseignement" ng-options="typeEnseignement as typeEnseignement.intitule for typeEnseignement in typeenseignements track by typeEnseignement.id">
                <option value="">&nbsp;</option>
            </select>
        </div>
        <div class="col-sm-6">
            <label translate="smartschoolApp.classeType.cycle" for="field_cycle">cycle</label>
            <select chosen class="form-control" id="field_cycle" name="cycle" ng-model="classeType.cycle" ng-options="cycle as cycle.intitule for cycle in cycles track by cycle.id">
                <option value="">&nbsp;</option>
            </select>
        </div>
        </div>
        <div class="row">
        <div class="col-sm-6">
            <label translate="smartschoolApp.classeType.niveau" for="field_niveau">niveau</label>
            <select chosen class="form-control" id="field_niveau" name="niveau" ng-model="classeType.niveau" ng-options="niveau as niveau.intitule for niveau in niveaus track by niveau.id">
                <option value="">&nbsp;</option>"
            </select>
        </div>
        <div class="col-sm-6">
            <label translate="smartschoolApp.classeType.filiere" for="field_filiere">filiere</label>
            <select chosen class="form-control" id="field_filiere" name="filiere" ng-model="classeType.filiere" ng-options="filiere as filiere.intitule for filiere in filieres track by filiere.id">
                <option value="">&nbsp;</option>
            </select>
        </div>
        </div>
        <div class="row">
        <div class="col-sm-6">
            <label translate="smartschoolApp.classeType.serie" for="field_serie">serie</label>
            <select chosen class="form-control" id="field_serie" name="serie" ng-model="classeType.serie" ng-options="serie as serie.intitule for serie in series track by serie.id">
                <option value="">&nbsp;</option>
            </select>
        </div>
        <div class="col-sm-6">
            <label translate="smartschoolApp.classeType.optionn" for="field_optionn">optionn</label>
            <select chosen class="form-control" id="field_optionn" name="optionn" ng-model="classeType.optionn" ng-options="optionn as optionn.intitule for optionn in optionns track by optionn.id">
                <option value="">&nbsp;</option>
            </select>
        </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
