<div>
    <h2 translate="smartschoolApp.classeType.home.title">ClasseTypes</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="classeType.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span
class="hidden-xs"                        translate="smartschoolApp.classeType.home.createLabel">Create new ClasseType
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'smartschoolApp.classeType.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="intitule"><span translate="smartschoolApp.classeType.intitule">Intitule</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="typeEnseignement.id"><span translate="smartschoolApp.classeType.typeEnseignement">typeEnseignement</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cycle.id"><span translate="smartschoolApp.classeType.cycle">cycle</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="niveau.id"><span translate="smartschoolApp.classeType.niveau">niveau</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="filiere.id"><span translate="smartschoolApp.classeType.filiere">filiere</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="serie.id"><span translate="smartschoolApp.classeType.serie">serie</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="optionn.id"><span translate="smartschoolApp.classeType.optionn">optionn</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="classeType in classeTypes track by classeType.id">
                    <td>{{classeType.intitule}}</td>
                    <td>
                        <a ui-sref="typeEnseignement.detail({id:classeType.typeEnseignement.id})">{{classeType.typeEnseignement.intitule}}</a>
                    </td>
                    <td>
                        <a ui-sref="cycle.detail({id:classeType.cycle.id})">{{classeType.cycle.intitule}}</a>
                    </td>
                    <td>
                        <a ui-sref="niveau.detail({id:classeType.niveau.id})">{{classeType.niveau.intitule}}</a>
                    </td>
                    <td>
                        <a ui-sref="filiere.detail({id:classeType.filiere.id})">{{classeType.filiere.intitule}}</a>
                    </td>
                    <td>
                        <a ui-sref="serie.detail({id:classeType.serie.id})">{{classeType.serie.intitule}}</a>
                    </td>
                    <td>
                        <a ui-sref="optionn.detail({id:classeType.optionn.id})">{{classeType.optionn.intitule}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="classeType.detail({id:classeType.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="classeType.edit({id:classeType.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="classeType.delete({id:classeType.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
